.estructura{
margin-top: 2em;
text-align: center;

}


canvas{
    margin-top: 5em;
    /* background-color: rgba(236, 252, 14, 0.911); */
    display: none;
}

button.btn{
   
    display: flex;
    margin:auto;
    width: auto;
    text-align: center;
    
  }

