

 .form-group{
    margin-left:1rem;
    margin-right:1rem;
}


form.acceso:hover{
       
    box-shadow:0px 0px 13px  rgb(137, 141, 141);

}

button.accesouser{
    margin-block-end:1em ;
}



/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    form.acceso{
        width: 30vw;
        margin-left: 1em;
        margin-right: 1em;
        margin-top: 1em;
        margin-block-end: 1em;
    }

}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    form.acceso{
        width: 30vw;
        margin-left: 1em;
        margin-right: 1em;
        margin-top: 1em;
        margin-block-end: 1em;
    
}
}