


.header {
background-color: rgba(255, 255, 255, 0.411);
  
}
footer{
    background-color: rgba(40, 2, 128, 0.76);
}
/* // Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
    img.logoalcaldia{
        height: 20px;
        /* width: 50px; */
    }
 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
   img.logoalcaldia{
       height: 45px;
       /* width: 50px; */
   }
}
/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (max-width: 1200px) { 
    
     
}